body {
    background-color: #131519;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
} 

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 20px 0;
}

li {
    margin: 0 15px;
    list-style: none;
    padding: 10px 20px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

li:hover {
    background-color: whitesmoke;
    color: #131519;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: blanchedalmond;
}

input:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: aqua;
    transition: background-color 0.3s;
    text-decoration: none;
}

button[type="submit"]:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
}